.fondo{
    background-image: url(/assets/ethf.jpg);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tct{
    text-align: center;
    font-style: italic;
}

.cc{
    color: dodgerblue;
}