<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">Acciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="fondo" routerLink="/actions">
    <img src="/assets/persons.jpg"/>
    <ion-card-header>
      <ion-card-title>Hablar sobre el cambio climatico</ion-card-title>
    </ion-card-header>
    <ion-progress-bar class="pop" color="success" value="0.90" buffer="0.9"></ion-progress-bar>
    <br>
    <ion-row>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Impacto</ion-card-subtitle>
          <ion-card-title class="tit">100%</ion-card-title>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Dificultad</ion-card-subtitle>
          <ion-card-title class="tit">Facil</ion-card-title>
        </div>
      </ion-col>
    </ion-row>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="fondo">
    <img src="/assets/greenspace.jpg"/>
    <ion-card-header>
      <ion-card-title>Cuidar tu espacio Verde</ion-card-title>
    </ion-card-header>
    <ion-progress-bar class="pop" color="success" value="0.80" buffer="0.9"></ion-progress-bar>
    <br>
    <ion-row>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Impacto</ion-card-subtitle>
          <ion-card-title class="tit">80%</ion-card-title>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Dificultad</ion-card-subtitle>
          <ion-card-title class="tit">Facil</ion-card-title>
        </div>
      </ion-col>
    </ion-row>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="fondo">
    <img src="/assets/bici.jpg"/>
    <ion-card-header>
      <ion-card-title>Bicicleta en vez de Conducir</ion-card-title>
    </ion-card-header>
    <ion-progress-bar class="pop" color="success" value="0.50" buffer="0.6"></ion-progress-bar>
    <br>
    <ion-row>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Impacto</ion-card-subtitle>
          <ion-card-title class="tit">50%</ion-card-title>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Dificultad</ion-card-subtitle>
          <ion-card-title class="tit">Media</ion-card-title>
        </div>
      </ion-col>
    </ion-row>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  
</ion-content>
