<ion-content >
  <ion-slides pager="true">

    <ion-slide class="slide1">
        <h2 class="p1">Salvemos el planeta</h2>
        <p class="d1">Responde con acciones practicas y positivas.</p>
    </ion-slide>

    <ion-slide class="slide2">
      <h2 class="p1">Cambia la Cultura</h2>
      <p class="d1">Ayuda al cambio descubriendo formas satisfactorias de vivir.</p>
    </ion-slide>

    <ion-slide class="slide3">
      <h2 class="p1">Restaura la Tierra</h2>
      <p class="d1">Únete a una comunidad global que se preocupa por nuestro planeta.</p>
    </ion-slide>

    <ion-slide class="fondo">
      <ion-card class="fondo">
        <ion-card-header>
          <ion-card-title class="tct">Save Planet</ion-card-title>
          <ion-img src="/assets/hpe.gif"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title class="tc">¡Únete al movimiento!</ion-card-title>
          <ion-card-title class="tc">Acciones de ti para el mundo</ion-card-title>
          <form [formGroup]="formularioLogin">
          <ion-item color="tint">
            <ion-input class="tct" formControlName="nombre" type="username" placeholder="Nombre de Usuario"></ion-input>
          </ion-item>
          <ion-item color="tint">
            <ion-input class="tct" formControlName="password" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
          </form>
          <ion-button (click)="ingresar()" shape="round" expand="block" >Iniciar Sesion</ion-button>
          <a target="_blank">¿Olvidaste tu contraseña?</a>
          <ion-button routerLink="/register" expand="block" color="success" shape="round">Registrarse </ion-button>
          <ion-card-subtitle class="tc">Al registrarte en Save Planet, aceptas nuestros Términos y Política de privacidad.</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>

