<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Earth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">Informacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img class="center" src="/assets/CalentamientoG.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Calentamiento Global</ion-card-subtitle>
      <ion-card-title>Cambio Climatico</ion-card-title>
    </ion-card-header>
    <ion-card-content class="tj">
      En este espacio abordaremos desde un punto de vista objetivo y científico qué es el cambio climático, cuáles son sus causas, sus consecuencias y cómo se puede combatir. En definitiva, cómo nos afecta el cambio climático.
      En primer lugar es necesario aclarar dos conceptos que, si bien están estrechamente relacionados,  con frecuencia se toman de manera errónea como sinónimos: el cambio climático y el calentamiento global. Existe una importante diferencia, y es que el calentamiento global es la causa del cambio climático, es decir, 
      el aumento de la temperatura del planeta provocado por las emisiones a la atmósfera de gases de efecto invernadero derivadas de la actividad del ser humano, están provocando variaciones en el clima que de manera natural no se producirían.
    </ion-card-content>
    <h1 class="tct">Más Informacion</h1>
    <ion-button color="light" expand="full" href="https://youtu.be/umAGi80FsPM" target="_blank">
      <ion-icon slot="start" name="logo-youtube"></ion-icon>
       Causas
    </ion-button>
    <ion-button color="light" expand="full" href="https://www.acciona.com/es/cambio-climatico/?_adin=02021864894" target="_blank">
      <ion-icon slot="start" name="newspaper-outline" > </ion-icon>
       ¿Como nos afecta?
    </ion-button>
  </ion-card>


  <ion-card>
    <img class="center" src="/assets/efecto-invernadero.gif"/>
    <ion-card-header>
      <ion-card-subtitle>Causas Calentamiento Global</ion-card-subtitle>
      <ion-card-title>Efecto Invernadero</ion-card-title>
    </ion-card-header>
    <ion-card-content class="tj">
      El es un proceso natural que permite a la Tierra mantener las condiciones necesarias para albergar vida: 
      la atmósfera retiene parte del calor del Sol; sin el efecto invernadero, la temperatura media del planeta sería de 18ºC bajo cero.
      La atmósfera está compuesta por diversos gases que, en la proporción adecuada, cumplen su cometido. 
      El problema está cuando las actividades del ser humano aumentan la emisión de gases de efecto invernadero a la atmósfera y ésta retiene más calor del necesario, provocando que la temperatura media del planeta aumente y se produzca lo que popularmente llamamos calentamiento global.
    </ion-card-content>
    <h1 class="tct">Más Informacion</h1>
    <ion-button color="light" expand="full" href="https://youtu.be/YLFLxQ0t07A" target="_blank">
      <ion-icon slot="start" name="logo-youtube" > </ion-icon>
       ¿Que es?
    </ion-button>
    <ion-button color="light" expand="full" href="https://www.iberdrola.com/medio-ambiente/consecuencias-efecto-invernadero" target="_blank">
      <ion-icon slot="start" name="newspaper-outline" > </ion-icon>
       Consecuencias
    </ion-button>
  </ion-card>

  <ion-card>
    <img class="center" src="/assets/superpoblacion.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Causas Calentamiento Global</ion-card-subtitle>
      <ion-card-title>Aumento exponencial de la población</ion-card-title>
    </ion-card-header>
    <ion-card-content class="tj">
      Dado que la población mundial habrá aumentado de 7.000 millones a 9.000 millones en 2040, y que aparecerán 3.000 millones de nuevos consumidores de clase media en los próximos años, la demanda de recursos se incrementará exponencialmente. En 2030, el mundo necesitará al menos un 50 % más de alimentos, un 45 % más de energía y un 30 % más de agua. Por otro lado, el cambio climático amenaza los derechos humanos de millones de personas, sobre todo de las más vulnerables a los desastres naturales. Con estos datos, es innegable afirmar que tanto el cambio climático como el crecimiento demográfico se presentan como los grandes retos del planeta.
    </ion-card-content>
    <h1 class="tct">Más Informacion</h1>
    <ion-button color="light" expand="full" href="https://youtu.be/RioIzEHtJy8" target="_blank">
      <ion-icon slot="start" name="logo-youtube" > </ion-icon>
       ¿Somos demasiados?
    </ion-button>
    <ion-button color="light" expand="full" href="http://journals.continental.edu.pe/index.php/apuntes/article/view/129" target="_blank">
      <ion-icon slot="start" name="newspaper-outline" > </ion-icon>
       Crecimiento
    </ion-button>
  </ion-card>
</ion-content>
