.center{
    width: 1000px;
    height: 250px;
}

.tj{
    text-align: justify;
}

.tcenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tct{
    text-align: center;
    font-style: italic;
    color: blanchedalmond;
}

.bc{
    color: black;
}