  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Action</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tab4"
            text="Back"
            color="dark">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <br>

<ion-content>
  <ion-card class="fondo">
    <ion-card-header>
    <ion-card-title size="large">Hablar sobre el cambio climatico</ion-card-title>
    <ion-card-subtitle>Familia & Comunidad</ion-card-subtitle>
    </ion-card-header>
    <img src="/assets/persons.jpg"/>
    <br>
    <br>
    <ion-progress-bar class="pop" color="success" value="0.90" buffer="0.9"></ion-progress-bar>
    <br>
    <ion-row>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Impacto</ion-card-subtitle>
          <ion-card-title class="tit">100%</ion-card-title>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card-subtitle class="sub">Dificultad</ion-card-subtitle>
          <ion-card-title class="tit">Facil</ion-card-title>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-progress-bar color="dark" value="10"></ion-progress-bar>
    <ion-card-content>
      <ion-card-title>Descripcion</ion-card-title>
      <br>
      <h1 class="tj">¡Hable al respecto! Una de las cosas más impactantes que todos podemos hacer en respuesta a la emergencia climática es hablar sobre ello. 
        No te quedes callado. Estás tomando medidas al mencionar tus propias emisiones o las de otros,
         así como sus acciones contra el cambio climático. Ayuda a otros a ver que el cambio climático es personal
          y muestra que se pueden tomar medidas.</h1>
      <br>
      <ion-card-title>Consejos</ion-card-title>
      <br>
      <h1 class="tj">• No, no siempre es sencillo. Tal vez comience con una pregunta básica como "¿cómo se siente acerca de la emergencia climática?" y hable sobre su preocupación por usted y sus conocidos, antes de comenzar a hablar sobre el problema central y las soluciones.
        <hr>
        • No se trata de nombrar y avergonzar, se trata de ayudar a otros a aprender o enfrentar la verdad para que podamos iniciar un cambio cultural a través de la aceptación y el cambio.
        <hr>
        • Conozca a las personas donde están. Ayude a las personas a lo largo de su viaje para comprender el meollo del problema (es decir, toda la contaminación que estamos poniendo en el aire) y las soluciones (es decir, pasar a opciones energéticas y alimentarias más limpias, además de poner fin a nuestras viejas formas de contaminación). No espere que las personas comprendan completamente o cambien de opinión por completo después de una conversación.
        <hr>
        • Las formas indirectas de introducir el clima en las conversaciones suelen ser las más eficaces. Las personas a menudo quieren tomar sus propias decisiones y que no se les diga qué hacer. Déjelos hacerlo.
        <hr>
        • Hablar puede ser realmente beneficioso para la salud mental, por lo que incluso puede descubrir que compartir su ansiedad sobre el clima con los demás le ayuda a sentirse menos solo.</h1>
    </ion-card-content>
  </ion-card>
  <hr>
  <br>
</ion-content>
